* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

input,
textarea,
button,
select {
  font-family: inherit;
}
